@model IEnumerable<MVCEcommerce.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model) {
<div class="card col" style="width: 18rem;">
        <img class="card-img-top" src=@Html.DisplayFor(modelItem => item.productImage) alt="Card image cap">
    <div class="card-body">
            <h5> @Html.DisplayFor(modelItem => item.productName)</h5>
            <h6> @Html.DisplayFor(modelItem => item.productCost)</h6>
            <p> @Html.DisplayFor(modelItem => item.productDescription)</p>

           
    </div>
    <div>
            <a asp-action="Edit" asp-route-id="@item.productID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.productID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.productID">Delete</a>
    </div>
</div>
}
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.productID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.productID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.productID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
