@model MVCEcommerce.Models.productCategoryViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get" asp-controller="Products" asp-action="Index">
    <p>
        <select asp-for="ProductCategory" asp-items="Model.Categories">
            <option value="">All</option>
        </select>

        Title <input type="text" name="SearchString"/>
        <input type="submit" value="Filter"/>
    </p>

</form>
@*@foreach (var item in Model.Product!) {
<div class="card col" style="width: 18rem;">
        <img class="card-img-top" src=@Html.DisplayFor(modelItem => item.productImage) alt="Card image cap">
    <div class="card-body">
            <h5> @Html.DisplayFor(modelItem => item.productName)</h5>
            <h6> @Html.DisplayFor(modelItem => item.productCost)</h6>
            <p> @Html.DisplayFor(modelItem => item.productDescription)</p>

           
    </div>
    <div>
            <a asp-action="Edit" asp-route-id="@item.productID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.productID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.productID">Delete</a>
    </div>
</div>
}*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product![0].productName)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Product![0].productCost)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Product![0].productDescription)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Product![0].productImage)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Product![0].category.categoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productImage)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.category.categoryName)
                    
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.productID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.productID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.productID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
